#menu
{
    font-size: 35px;

}

li.nav
{
    padding-left: 1ex;
}

.navbar.navbar-expand-lg
{
    background-color: rgb(25, 98, 167);
}

.user
{
    padding-right: 2ex;
}

.fa-brands.fa-square-instagram.fa-2x:hover
{
    color: rgb(19, 167, 212);
}

.fa-brands.fa-square-github.fa-2x:hover
{
    color: rgb(19, 167, 212);
}

.fa-brands.fa-linkedin.fa-2x:hover
{
    color: rgb(19, 167, 212);
}

.fa-solid.fa-user.fa-2x.user:hover
{
    color: rgb(19, 167, 212);
}